<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="LevelMapper">
	<resultMap type="LevelUp" id="levelUpResultMap">
		<id property="applicationNo" column="APPLICATION_NO" />
		<result property="userId" column="USER_ID" />
		<result property="applicationLv" column="APPLICATION_LV" />
		<result property="certFileName" column="CERT_FILE_NAME" />
		<result property="certFileRename" column="CERT_FILE_RENAME" />
		<result property="certFilePath" column="CERT_FILE_PATH" />
		<result property="applicationStatus" column="APPLICATION_STATUS" />
		<result property="applicationDate" column="APPLICATION_DATE" />
		<result property="lvChangeDate" column="LV_CHANGE_DATE" />
	</resultMap>
	<insert id="insertLevelUp">
		INSERT INTO LEVEL_UP_TBL
		VALUES(SEQ_APPLICATION_NO.NEXTVAL, #{userId}, #{applicationLv},
		#{certFileName}, #{certFileRename}, #{certFilePath},
		DEFAULT, DEFAULT, DEFAULT)
	</insert>
	<update id="updateLevelApproval" parameterType="string">
		UPDATE LEVEL_UP_TBL SET APPLICATION_STATUS = 'Y', LV_CHANGE_DATE = SYSDATE
		WHERE USER_ID IN
			<foreach collection="list" item="item" open="(" separator="," close=")">
				#{item}
			</foreach>
			AND APPLICATION_STATUS = null
	</update>
	<update id="updateLevelDenial" parameterType="string">
		UPDATE LEVEL_UP_TBL SET APPLICATION_STATUS = 'N', LV_CHANGE_DATE = SYSDATE
		WHERE USER_ID IN
			<foreach collection="list" item="item" open="(" separator="," close=")">
				#{item}
			</foreach>
			AND APPLICATION_STATUS = null
	</update>
	<select id="selectLevelHistory" resultMap="levelUpResultMap">
		SELECT APPLICATION_LV, LV_CHANGE_DATE FROM LEVEL_UP_TBL
		WHERE USER_ID = #{userId} AND APPLICATION_STATUS = 'Y'
	</select>
	<select id="selectCountAllLevelUp" resultType="_int">
		SELECT COUNT(*) FROM LEVEL_UP_TBL
	</select>
	<select id="selectLevelUpList" resultMap="levelUpResultMap">
		SELECT * FROM LEVEL_UP_TBL
	</select>
</mapper>