<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="jdbcTypeForNull" value="NULL" />
	</settings>
	<typeAliases>
		<typeAlias type="com.kh.itcom.admin.domain.Admin"
			alias="Admin" />
		<typeAlias type="com.kh.itcom.consult.domain.ConsultBoard"
			alias="ConsultBoard" />
		<typeAlias type="com.kh.itcom.consult.domain.ConsultBoardComment"
			alias="CosultBoardComment" />
		<typeAlias type="com.kh.itcom.consult.domain.ConsultUpCount"
			alias="ConsultUpCount" />
		<typeAlias type="com.kh.itcom.consult.domain.ConsultDownCount"
			alias="ConsultDownCount" />
		<typeAlias type="com.kh.itcom.consult.domain.ConsultViewCount"
			alias="ConsultViewCount" />
		<typeAlias type="com.kh.itcom.finish.domain.FinishBoard"
			alias="FinishBoard" />
		<typeAlias type="com.kh.itcom.finish.domain.FinishComment"
			alias="FinishComment" />
		<typeAlias type="com.kh.itcom.lecture.domain.LectureBoard"
			alias="LectureBoard" />
		<typeAlias type="com.kh.itcom.lecture.domain.LectureBoardComment"
			alias="LectureBoardComment"/>
		<typeAlias type="com.kh.itcom.level.domain.LevelUp"
			alias="LevelUp" />
		<typeAlias type="com.kh.itcom.notice.domain.Notice"
			alias="Notice" />
		<typeAlias type="com.kh.itcom.point.domain.PointHistory"
			alias="PointHistory" />
		<typeAlias type="com.kh.itcom.user.domain.User"
			alias="User" />
	</typeAliases>
	<mappers>
		<mapper resource="mappers/admin-mapper.xml" />
		<mapper resource="mappers/consult-mapper.xml" />
		<mapper resource="mappers/lecture-mapper.xml" />
		<mapper resource="mappers/level-mapper.xml" />
		<mapper resource="mappers/finish-mapper.xml" />
		<mapper resource="mappers/point-mapper.xml" />
		<mapper resource="mappers/user-mapper.xml" />
	</mappers>
</configuration>